# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

*.fla
*.swf

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

#sauf son propre fichier, car il serait capable de s'ignorer tout seul lol
!.gitignore